<!DOCTYPE html>
<html lang="en">
{{> baseHead }}
<body>
    {{> siteHeader }}
    <h1>About This website</h1>
    <p>
        <a href="https://www.youtube.com/watch?v=t7kJrT9eMtU">Click me!</a>
    </p>
    {{> siteFooter }}
</body>
</html>