<!DOCTYPE html>
<html lang="en">
{{> baseHead }}
<body>
    {{> siteHeader }}
    <h1>About Nothing</h1>
    <p>
        <a href="https://www.youtube.com/watch?v=t7kJrT9eMtU">I said Nothing!</a>
    </p>
    {{> siteFooter }}
</body>
</html>