<!DOCTYPE html>
<html lang="en">
{{> baseHead }}
<body>
    <form action="/aboutjohn" method="post">
        <label for="uname">Username:</label>
        <input type="text" name="uname" id="uname" placeholder="username" required>
        <br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="password" required>
        <br>

        <input type="submit" value="Log in">

        {{#if errorMessage }}
            <p>{{ errorMessage }}</p>
        {{/if}}
    </form>
</body>
</html>