<!DOCTYPE html>
<html lang="en">
<head>
    {{> baseHead }}
</head>
<body>
    <h1>Uploaded Files</h1>
  <ul>
    {{#each files}}
      <li><a href="/execute/{{this}}">{{this}}</a></li>
    {{/each}}
  </ul>
</body>
</html>